{%load static%}

<html lang="en">
<head>

    <link rel="stylesheet" type = "text/css" href="{% static 'skin_type/Q0.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta charset="UTF-8">

</head>


<body>

<div class="skinny">
<header > Skinny Company </header>
<progress value="0" max="100"></progress>
</div>

<div class ='content'>

    <h1><bold> ARE YOU WONDER</bold></h1>
    <h1> WHAT IS YOUT SKIN TYPE?</bold></h1>


    <section class="skintype">
        <button onclick="location.href = 'q1'" class = "btn-md part_to_left radius" align = "left"> LET'S GO </button>

    </section>

    <script src="js/jquery-3.1.1.js"></script>

    <script src="js/bootstrap.min.js"></script>
</div>
</body>
</html>