{%load static%}

<html lang="en">
<head>

    <link rel="stylesheet" type = "text/css" href="{% static 'skin_type/Q0.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta charset="UTF-8">

</head>


<body>
<div class="skinny">
<header style="padding-left: 30px"> Skinny Company </header>
<progress value="33" max="100"></progress>
</div>

<div class ='content'>

    <p class="very_big_font"><bold> 얼굴이 자주 빨개진다 </bold></p>



    <section class="skintype">
        <button onclick="location.href='q15'" class = "hover radius mid_left">&nbsp;&nbsp;네&nbsp;&nbsp;</button>

        <button class="hover radius mid_center" onclick="location.href='q11'"> 아니요</button>

        <button onclick="location.href='q11'" class="hover radius mid_right"> 모르겠다</button>
    </section>

    <button onclick="goBack()" class="btn-sm small_left">Go Back</button>

    <script>
    function goBack() {
        window.history.back();
    }
    </script>

    <button onclick="location.href='q11'" type="next" class="btn-sm small_right">
        Next </button>

    <script src="js/jquery-3.1.1.js"></script>

    <script src="js/bootstrap.min.js"></script>
</div>
</body>
</html>