<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="Q0.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta charset="UTF-8">

</head>


<body>
<div class="skinny">
<header style="padding-left: 30px"> Skinny Company </header>
<progress value="78" max="100"></progress>
</div>

<div class ='content'>
    <div class="question">
    <p><bold> T존 부위만 화장이 잘 지워진다</bold></p>
    </div>


<section class="skintype">

        <button> 네 </button>

        <button class="hover"> 아니요</button>

        <button> 모르겠다</button>
    </section>

    <button onclick="location.href='Q18.html'" type="back" class="btn-sm">
        Back </button>


    <button onclick="location.href='Q20.html'" type="next" class="btn-sm">
        Next </button>

    <script src="js/jquery-3.1.1.js"></script>

    <script src="js/bootstrap.min.js"></script>
</div>
</body>
</html>
