<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="Q0.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta charset="UTF-8">

</head>


<body>
<div class="skinny">
<header style="padding-left: 30px"> Skinny Company </header>
<progress value="8" max="100"></progress>
</div>

<div class ='content'>
    <div class="question">
    <p><bold> 모공이 매우 작다 </bold></p>
    </div>





    <section class="skintype">

        <button> 네 </button>

        <button class="hover"> 아니요</button>

        <button> 모르겠다</button>
    </section>

    <button onclick="location.href='Q1.html'" type="back" class="btn-sm">
        Back </button>


    <button onclick="location.href='Q3.html'" type="next" class="btn-sm">
        Next </button>

<!---
    <section class="skintype">
        <button  onclick="location.href='Q6.html'"> 네 </button>

        <button class="hover" onclick="location.href='Q3.html'"> 아니요</button>

        <button onclick="location.href='Q8.html'"> 모르겠다</button>
    </section>

    <!--<button onclick="goBack()">Go Back</button>-->

<!--<script>-->
<!--function goBack() {-->
    <!--window.history.back();-->
<!--}-->
<!--</script>-->



    <button onclick="location.href='q1'" type="back" class="btn-sm">
        Back </button>

    <button onclick="location.href='q2'" type="next" class="btn-sm">
        Next </button>
---->

    <script src="js/jquery-3.1.1.js"></script>

    <script src="js/bootstrap.min.js"></script>
</div>
</body>
</html>
