<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="Q0.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta charset="UTF-8">

</head>


<body>
<div class="skinny">
<header style="padding-left: 30px"> Skinny Company </header>
<progress value="93" max="100"></progress>
</div>


<div class ='content'>

    <p><bold> 여드름성 트러블이 잘 일어난다. </bold></p>



    <section class="skintype">
        <button onclick="location.href='q28'"> 네 </button>

        <button class="hover" onclick="location.href='q24'"> 아니요</button>

        <button onclick="location.href='q29'"> 모르겠다</button>
    </section>

    <button onclick="goBack()">Go Back</button>

    <script>
    function goBack() {
        window.history.back();
    }
    </script>


    <button onclick="location.href='q24'" type="next" class="btn-sm">
        Next </button>

    <script src="js/jquery-3.1.1.js"></script>

    <script src="js/bootstrap.min.js"></script>
</div>
</body>
</html>