{%load static%}

<html lang="en">
<head>

    <link rel="stylesheet" type = "text/css" href="{% static 'skin_type/Q0.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta charset="UTF-8">

</head>


<body>
<div class="skinny">
<header style="padding-left: 30px"> Skinny Company </header>
<progress value="100" max="100"></progress>
</div>
<div class = "all">
    <div class ='content'>

        <h1> 당신의 피부타입은 <b>지성</b> 입니다! </h1>
        <p class="about"> 지성 피부는 무엇보다 청결에 신경을 써야 합니다. 철저한 세안이 필요하므로 클렌징 제품을 이용해
        메이크업이나 더러움을 닦아낸 후 미지근한 물을 이용하여 이중 세안을 합니다.</p>
        <p><bold> 저희 서비스는 어땠나요? </bold></p>

    <div class="form-group">
        {% csrf_token %}
        <form method="POST" action="{% url "post_comment_28" %}">
            <div class="col-sm-10" align="left">
                {% csrf_token %}
                <input type = "text" rows="1" name="comment" class ="form" align="left"></input><button type="submit" class="expand radius" align="right"> &nbsp; Post &nbsp;</button>
                </div>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </form>
    </div>
        <button onclick="goBack()" class="btn-sm small_left add_padding" align = left>Go Back</button>

    <script>
    function goBack() {
        window.history.back();
    }
    </script>
        <button onclick="location.href='q1'" type="next" class="btn-sm small_right">
        try again </button>
    </div>


    <script src="js/jquery-3.1.1.js"></script>

    <script src="js/bootstrap.min.js"></script>
</div>
</body>
</html>