{% extends "base.html" %}
{% load static %}
{% block header %}Skinny Company{% endblock %}

{% block content %}

<html lang="en">
<head>
    <link rel="stylesheet" href="Q0.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta charset="UTF-8">

 <progress value="100" max="100"></progress>#}
    <div class = "all">
        <div class ='content'>

            <p class="heading"> 당신의 피부타입은 <b>민감성</b> 입니다! </p>
            <p class="about"> 피부가 건조해 매우 당기고, 따갑고, 화끈거리는 증상을
              쉽게 완화하는 방법은 가장 쉬운 방법이 자신에게 잘 맞는 보습제를 피부에
            듬뿍 발라주는 것이다. 민감피부의 관리는 피부의 온도를 적당히 내려주고 수분을
          충분히 보충해주는 것이 중요하다. </p>

            <p> 코멘트를 입력하세요 </p>
        </div>
    </div>
    <div class="panel">
        {% for comment in comments %}
            <div class="media">
                <a class="media-left" href="#">
                    <img src="http://lorempixel.com/40/40/people/1/">
                </a>
                <div class="media-body">
                    <h4 class="media-heading user_name">{{ comment.user.username }}</h4>
                        {{ comment.comment_contents}}
                </div>
            </div>
        {% endfor %}
    </div>

        {% for comment in comments %}
            {{ comment.comment_contents }}
        {% endfor %}


    <div class="form-group row">
        <form method="POST" action="{% url "post_comment" %}">
            {% csrf_token %}
            <div class="col-sm-1">
                <label for="comment">Comment:</label>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="comment" name="comment" />
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-success">Post</button>
            </div>
        </form>
    </div>


        <button class="btn-sm">Back </button>
         <button class="btn-sm">Next </button>



        <script src="js/jquery-3.1.1.js"></script>
        <script src="js/bootstrap.min.js"></script>

{% endblock %}
{% block footer %}ended{% endblock %}